@font-face {
    font-family: metrostyle;
    src: url('en/metro55w.ttf');
}
body {
    background-color: #cfd3d4;
    font-family: metrostyle;
}
.logo {
    width: 622px;
    height: 145px;
    margin: 0 auto;
}
.whitebg {
    background-color: #fff;
}
.bluebg {
    background-color: #013765;
    color: #fff;
}
.gen-padding {
    padding: 30px 20px;
}
div.collapse > ul.nav > li > a {
    color: #fff;
}
div.collapse > ul.nav > li > a:hover {
    color: #aaa;
}
h1 {
    font-weight: bold;
    color: #013765;
}
.pad-top-20 {
    padding-top: 20px;
}
.pad-top-10 {
    padding-top: 10px;
}
.pad-left-30 {
    padding-left: 30px;
}
.hw-img-wpr {
    height: 160px;
    width: 267px;
    margin: 0px auto;
}
.hw-txt {
    width: 320;
    margin: 0px auto;
}
.contact-form-wpr {
    margin-left: auto;
    margin-right: auto;
}
.footer {
    width: 100%;
}
h4 {
    margin-top: 0px;
}
.thumbholder {
    margin-top: 5px;
    display: inline-block;
    width: 350px;
    height: 233px
}
#links {
    width: 1065px;
    margin: 0px auto;
}
