@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900italic);
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}
h1, .my-red-color, .article > h3, .article > a {
    color: #870101;
}
#header {
    font-size: 20px;
    width: 380px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header-logo-holder {
    display: inline;
    width: 170px;
    height: 170px;
}
#logo-text {
    display: inline;
    float: right;
    padding-top: 40px;
    margin-left: 5px;
    width: 200px;
}
#form-subscribe {
    margin-top: 12px;
}
#main-content {
    margin-bottom: 30px;
}
.under-menu-ad {
    margin-top: 10px;
}
.pages {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 650px;
}
.article-header {
    font-size: 20px;
    margin-bottom: 5px;
}
.article-footer {
    margin-top: 30px;
}
.footer {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #E8E8E8;
    padding-top: 20px;
    font-size: 20px;
}
